/* _content/PortalUnicoRecaudo/Views/Home/Index.cshtml.rz.scp.css */
ul[b-wfke5kz203] {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

a[b-wfke5kz203] {
    text-decoration: var(--a-decoration-none);
    color: var(--font-color-Adres); 
}

li[b-wfke5kz203] {
    font-size: var(--font-size-large);
    margin-bottom: 10px;  
    transition: background-color 0.5s ease;
}

    li:hover[b-wfke5kz203] {
        background-color: lightgray;
    }

.contenedorImagen[b-wfke5kz203]{
    display:flex;
    position: relative;
    width: 100%;
    height: 450px;
}

.ImagenRecaudo[b-wfke5kz203]{
    width:100%;
    height: 100%;
}
.contenedorEnlaces[b-wfke5kz203] {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

h1[b-wfke5kz203] {
    font-weight: 300;
    color: var(--font-color-Adres);
    font-weight:800;
}

/*BARRA ACCESIBILIDAD*/
@font-face {
    font-family: "govco-font";
    src: url("../../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* WorkSans-SemiBold */
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* WorkSans-SemiBold */
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}

/* Montserrat-SemiBold */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}


.content-example-barra[b-wfke5kz203] {
    margin-left: auto;
    margin-right: auto;
}

.barra-accesibilidad-letra[b-wfke5kz203] {
    width: 100%;
    align-items: center;
    text-align: center;
}

    .barra-accesibilidad-letra .titulo-barra-accesibilidad[b-wfke5kz203] {
        color: #000;
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .barra-accesibilidad-letra .descripcion-barra-accesibilidad[b-wfke5kz203] {
        color: #4B4B4B;
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

.barra-accesibilidad-govco[b-wfke5kz203] {
    height: 143px;
    width: 48px;
    position: fixed;
    right: 0;
    top: 35%;
    background-color: #004884 !important;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 20px;
    align-items: center;
    z-index: 2;
}

    .barra-accesibilidad-govco button[b-wfke5kz203] {
        line-height: inherit;
    }

    .barra-accesibilidad-govco .icon-contraste[b-wfke5kz203] {
        background: #004884;
        width: 48px;
        height: 40px;
        border: none;
        outline: none;
        text-decoration: none;
    }

        .barra-accesibilidad-govco .icon-contraste[b-wfke5kz203]::after {
            background: #fff;
            content: "\e803";
            font-family: "govco-font";
            height: 24px;
            width: 24px;
            color: #004884;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 5px;
            opacity: 1;
            position: relative;
        }

    .barra-accesibilidad-govco #titlecontraste[b-wfke5kz203] {
        text-align: left;
        position: absolute;
        background: #3366CC;
        color: #fff;
        line-height: normal !important;
        font-family: WorkSans-Medium !important;
        font-size: 14px;
        margin-top: -8px;
        opacity: 0;
        width: 172px;
        height: 40px;
        border-radius: 10px 0px 0px 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .barra-accesibilidad-govco button:hover #titlecontraste[b-wfke5kz203] {
        opacity: 1;
        visibility: visible;
        margin-left: -135px;
    }

.icon-contraste:hover[b-wfke5kz203]::after {
    background: #fff;
    content: "\e803";
    font-family: "govco-font";
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-contraste:focus #titlecontraste[b-wfke5kz203] {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-contraste:focus[b-wfke5kz203]::after {
    background: #fff;
    content: "\e803";
    font-family: "govco-font";
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.barra-accesibilidad-govco .icon-reducir[b-wfke5kz203] {
    background: #004884;
    text-align: center;
    width: 48px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
}

    .barra-accesibilidad-govco .icon-reducir[b-wfke5kz203]::after {
        background: #fff;
        content: "\ec2a";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #004884;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.barra-accesibilidad-govco #titledisminuir[b-wfke5kz203] {
    text-align: left;
    position: absolute;
    background: #3366CC;
    color: #fff;
    line-height: normal !important;
    font-family: WorkSans-Medium !important;
    font-size: 14px;
    margin-top: -8px;
    opacity: 0;
    width: 172px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.barra-accesibilidad-govco button:hover #titledisminuir[b-wfke5kz203] {
    opacity: 1;
    visibility: visible;
    margin-left: -135px;
}

.icon-reducir:hover[b-wfke5kz203]::after {
    background: #fff;
    content: "\ec2a";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-reducir:focus #titledisminuir[b-wfke5kz203] {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-reducir:focus[b-wfke5kz203]::after {
    background: #fff;
    content: "\ec2a";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.barra-accesibilidad-govco .icon-aumentar[b-wfke5kz203] {
    background: #004884;
    text-align: center;
    width: 48px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
}

    .barra-accesibilidad-govco .icon-aumentar[b-wfke5kz203]::after {
        background: #fff;
        content: "\ec29";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #004884;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.barra-accesibilidad-govco #titleaumentar[b-wfke5kz203] {
    text-align: left;
    position: absolute;
    background: #3366CC;
    color: #fff;
    line-height: normal !important;
    font-family: WorkSans-Medium !important;
    font-size: 14px;
    margin-top: -8px;
    opacity: 0;
    width: 172px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.barra-accesibilidad-govco button:hover #titleaumentar[b-wfke5kz203] {
    opacity: 1;
    visibility: visible;
    margin-left: -135px;
}

.icon-aumentar:hover[b-wfke5kz203]::after {
    background: #fff;
    content: "\ec29";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-aumentar:focus #titleaumentar[b-wfke5kz203] {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-aumentar:focus[b-wfke5kz203]::after {
    background: #fff;
    content: "\ec29";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.active-barra-accesibilidad-govco[b-wfke5kz203] {
    background-color: #3366CC !important;
}

    .active-barra-accesibilidad-govco.icon-aumentar[b-wfke5kz203]::after {
        background: #fff;
        content: "\ec29";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

    .active-barra-accesibilidad-govco.icon-reducir[b-wfke5kz203]::after {
        background: #fff;
        content: "\ec2a";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

    .active-barra-accesibilidad-govco.icon-contraste[b-wfke5kz203]::after {
        background: #fff;
        content: "\e803";
        font-family: "govco-font";
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.modo_oscuro-govco[b-wfke5kz203] {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
}

    .modo_oscuro-govco .titulo-barra-accesibilidad[b-wfke5kz203] {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .modo_oscuro-govco .descripcion-barra-accesibilidad[b-wfke5kz203] {
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

.modo_claro-govco[b-wfke5kz203] {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

    .modo_claro-govco .titulo-barra-accesibilidad[b-wfke5kz203] {
        color: #000;
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .modo_claro-govco .descripcion-barra-accesibilidad[b-wfke5kz203] {
        color: #4B4B4B;
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

/*BOTONES*/

/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("../../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}

html[b-wfke5kz203] {
    font-size: 100%; /* 100% = 16px */
}

.btn-govco[b-wfke5kz203] {
    border-radius: 1.563rem;
    font-family: WorkSans-Medium;
    font-size: 16px;
    line-height: 0.563rem;
    padding: 0.75rem 1rem;
    border-width: 0.125rem;
    border-style: solid;
}

    .btn-govco.fill-btn-govco:hover[b-wfke5kz203],
    .btn-govco.fill-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.outline-btn-govco:hover[b-wfke5kz203],
    .btn-govco.outline-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco:hover[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:hover[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:focus-visible[b-wfke5kz203] {
        background-color: #004884;
        border-color: #004884;
        color: #FFFFFF;
    }

    .btn-govco.fill-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.outline-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:focus-visible[b-wfke5kz203] {
        outline: max(0.125rem, 0.125rem) solid #000000;
        outline-offset: max(0.125rem, 0.188rem);
    }

    .btn-govco.fill-btn-govco[b-wfke5kz203],
    .btn-govco.outline-btn-govco[b-wfke5kz203] {
        border-color: #3366cc;
    }

    .btn-govco.fill-btn-govco[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco[b-wfke5kz203] {
        background-color: #3366CC;
        color: #FFFFFF;
    }

        .btn-govco.outline-btn-govco[b-wfke5kz203],
        .btn-govco.fill-secundary-btn-govco[b-wfke5kz203],
        .btn-govco.outline-secundary-btn-govco:hover[b-wfke5kz203],
        .btn-govco.outline-secundary-btn-govco:focus-visible[b-wfke5kz203] {
            background-color: #FFFFFF;
            color: #3366CC;
        }

            .btn-govco.fill-secundary-btn-govco:focus-visible[b-wfke5kz203],
            .btn-govco.outline-secundary-btn-govco:focus-visible[b-wfke5kz203] {
                outline-color: #FFFFFF;
            }

    .btn-govco:disabled[b-wfke5kz203] {
        background-color: #737373;
        border-color: #737373;
        color: #FFFFFF;
        pointer-events: none;
    }

    .btn-govco.fill-secundary-btn-govco:hover[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco:disabled[b-wfke5kz203],
    .btn-govco.fill-secundary-btn-govco[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:hover[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:focus-visible[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco:disabled[b-wfke5kz203],
    .btn-govco.outline-secundary-btn-govco[b-wfke5kz203] {
        border-color: #FFFFFF;
    }

/*CARRUSEL*/

/* Fuente iconografica */
/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("../../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* Montserrat-SemiBold */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

/* Montserrat-Regular */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

html[b-wfke5kz203] {
    font-size: 100%; /* 100% = 16px */
}

.carrusel-govco[b-wfke5kz203] {
    height: auto;
    overflow: initial;
}

    .carrusel-govco.carousel-fade .carousel-inner[b-wfke5kz203] {
        overflow: initial;
    }

    .carrusel-govco .carousel-indicators[b-wfke5kz203] {
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 1.5rem;
        z-index: 1;
    }

        .carrusel-govco .carousel-indicators button[b-wfke5kz203] {
            border-radius: 20px;
            width: 0.75rem;
            height: 0.75rem;
            margin: 0.25rem;
            box-shadow: 0 0.188rem 0.25rem #00000029;
            /*background-color: #FFFFFF;*/
            border: 0;
        }

            .carrusel-govco .carousel-indicators button:not(.active)[b-wfke5kz203] {
                opacity: 1;
                /*background-color: rgba(255,255,255,1);*/
            }

            .carrusel-govco .carousel-indicators button:focus-visible[b-wfke5kz203] {
                outline: max(0.125rem, 0.063em) solid #000000;
                outline-offset: max(0.125rem, 0.063rem);
            }

    .carrusel-govco .carousel-inner .carousel-item[b-wfke5kz203] {
        position: relative;
        visibility: initial;
        width: 100%;
        height: auto;
    }

        .carrusel-govco .carousel-inner .carousel-item > a[b-wfke5kz203] {
            display: block;
        }

            .carrusel-govco .carousel-inner .carousel-item > a:focus-visible[b-wfke5kz203] {
                outline-offset: 0.25rem;
                outline: 0.125rem solid #000000;
            }

        .carrusel-govco .carousel-inner .carousel-item img[b-wfke5kz203] {
            min-height: 19.813rem;
            width: 100%;
            opacity: .6;
        }

        .carrusel-govco .carousel-inner .carousel-item:not(.multiple-carrusel-govco) .carousel-caption[b-wfke5kz203] {
            top: 35%;
            bottom: 22%;
            padding: 0.2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            left: 17%;
            right: 17%;
            overflow: hidden;
        }

    .carrusel-govco .carousel-inner .carousel-caption a:focus-visible[b-wfke5kz203] {
        outline: 0.125rem solid #000000;
    }

    .carrusel-govco .carousel-inner .carousel-caption a[b-wfke5kz203] {
        text-decoration: none;
        height: auto;
        max-height: 100%;
    }

    .carrusel-govco .carousel-inner .carousel-caption h5[b-wfke5kz203],
    .carrusel-govco .carousel-inner .carousel-caption p[b-wfke5kz203] {
        color: #FFFFFF;
        max-width: 45.625rem;
        display: block;
        margin: 0.6rem;
    }

    .carrusel-govco .carousel-inner .carousel-caption h5[b-wfke5kz203] {
        font-size: 2rem;
        font-family: Montserrat-SemiBold;
    }

    .carrusel-govco .carousel-inner .carousel-caption p[b-wfke5kz203] {
        font-size: 1.313rem;
        font-family: Montserrat-Regular;
    }

    .carrusel-govco .control-start-pause[b-wfke5kz203] {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 7%;
        margin-bottom: 1.5rem;
        line-height: 0;
        z-index: 1;
    }

        .carrusel-govco .control-start-pause button[b-wfke5kz203] {
            background-color: inherit;
            border: 0;
            color: #FFFFFF;
            font-size: 0.875rem;
            font-family: WorkSans-Regular;
            cursor: pointer;
            line-height: 1rem;
            padding: 0.11rem 0.2rem;
        }

            .carrusel-govco .control-start-pause button:not(.active)[b-wfke5kz203] {
                display: none;
            }

            .carrusel-govco .control-start-pause button[b-wfke5kz203]::before {
                font-family: "govco-font";
                font-size: 1rem;
            }

            .carrusel-govco .control-start-pause button.start[b-wfke5kz203]::before {
                content: "\ea95";
            }

            .carrusel-govco .control-start-pause button.pause[b-wfke5kz203]::before {
                content: "\ea75";
            }

            .carrusel-govco .control-start-pause button:focus-visible[b-wfke5kz203] {
                outline: 0.125rem solid #000000;
            }

            .carrusel-govco .control-start-pause button:hover[b-wfke5kz203] {
                color: #0B457F;
            }

            .carrusel-govco .control-start-pause button span[b-wfke5kz203] {
                margin-left: 0.5rem;
            }

    .carrusel-govco .carousel-control-prev[b-wfke5kz203],
    .carrusel-govco .carousel-control-next[b-wfke5kz203] {
        top: 40%;
        bottom: 40%;
        opacity: 1;
    }

        .carrusel-govco .carousel-control-next:focus-visible[b-wfke5kz203],
        .carrusel-govco .carousel-control-prev:focus-visible[b-wfke5kz203] {
            outline: none;
        }

    .carrusel-govco .carousel-control-prev-icon[b-wfke5kz203],
    .carrusel-govco .carousel-control-next-icon[b-wfke5kz203] {
        background-image: none;
        width: auto;
        height: auto;
    }

        .carrusel-govco .carousel-control-prev-icon[b-wfke5kz203]::after,
        .carrusel-govco .carousel-control-next-icon[b-wfke5kz203]::after {
            font-family: "govco-font";
            font-size: 2.625rem;
            color: #FFFFFF;
        }

        .carrusel-govco .carousel-control-prev-icon[b-wfke5kz203]::after {
            content: '\e811';
        }

        .carrusel-govco .carousel-control-next-icon[b-wfke5kz203]::after {
            content: '\e812';
        }

    .carrusel-govco .carousel-control-prev:hover .carousel-control-prev-icon[b-wfke5kz203]::after,
    .carrusel-govco .carousel-control-next:hover .carousel-control-next-icon[b-wfke5kz203]::after {
        color: #0B457F;
    }

    .carrusel-govco > button:focus[b-wfke5kz203] {
        background-color: transparent;
    }

    .carrusel-govco .carousel-control-prev:focus-visible .carousel-control-prev-icon[b-wfke5kz203]::after,
    .carrusel-govco .carousel-control-next:focus-visible .carousel-control-next-icon[b-wfke5kz203]::after {
        border: 0.125rem solid #000000;
    }

/* Responsive */
.responsive-carrusel-govco .carousel-indicators[b-wfke5kz203],
.responsive-carrusel-govco .control-start-pause[b-wfke5kz203] {
    margin-bottom: 1rem;
}

    .responsive-carrusel-govco .carousel-indicators button[b-wfke5kz203] {
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.125rem;
    }

.responsive-carrusel-govco .carousel-control-prev-icon[b-wfke5kz203]::after,
.responsive-carrusel-govco .carousel-control-next-icon[b-wfke5kz203]::after {
    font-size: 2rem;
}

.responsive-carrusel-govco .carousel-inner .carousel-item img[b-wfke5kz203] {
    min-height: 13.5rem;
}

.responsive-carrusel-govco .carousel-inner .carousel-caption[b-wfke5kz203] {
    left: 15%;
    right: 15%;
}

.responsive-carrusel-govco .carousel-inner .carousel-item:not(.multiple-carrusel-govco) .carousel-caption[b-wfke5kz203] {
    top: 20%;
    bottom: 21%;
}

.responsive-carrusel-govco .carousel-inner .carousel-caption h5[b-wfke5kz203] {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-family: Montserrat-SemiBold;
}

.responsive-carrusel-govco .carousel-inner .carousel-caption p[b-wfke5kz203] {
    font-size: 1.125rem;
}

.responsive-carrusel-govco .control-start-pause button span[b-wfke5kz203] {
    margin-left: 0.25rem;
}
/* _content/PortalUnicoRecaudo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ugd6ynn5tj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ugd6ynn5tj] {
    color: #0077cc;
    text-decoration: var(--a-decoration-none);
}

.btn-primary[b-ugd6ynn5tj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ugd6ynn5tj], .nav-pills .show > .nav-link[b-ugd6ynn5tj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ugd6ynn5tj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ugd6ynn5tj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ugd6ynn5tj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ugd6ynn5tj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ugd6ynn5tj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


.contenedorImagenesEnlaces[b-ugd6ynn5tj] {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
}

nav[b-ugd6ynn5tj] {
    background-color: #3366CC !important;
    height: 48px;
    display: flex;
    align-items: center;
}



/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("../../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html[b-ugd6ynn5tj] {
    font-size: 100%; /* 100% = 16px */
}

.barra-superior-govco[b-ugd6ynn5tj] {
    background-color: #3366cc;
    width: 100%;
    height: 3rem;
    padding-left: 4.375rem;
}

    .barra-superior-govco a[b-ugd6ynn5tj] {
        /* content: url(https://cdn.www.gov.co/assets/images/logo.svg);*/
        content: url(../../assets/img/logo.svg);
        height: 1.875rem;
        width: 8.5rem;
    }

        .barra-superior-govco a:focus-visible[b-ugd6ynn5tj] {
            outline: max(0.125rem, 0.15em) solid #FFFFFF;
            border-radius: 0.313rem;
        }

   
